<div class="contactus">
<h1>Contact Us:</h1>
<p>Have any questions about anything pertaining to pets and the about the adoption process please contact us at: </p>
<p> Any more questions about fostering and the process please contact our direction of the foster program at:</p>
<p> For all other questions please contact us at:</p>
</div>