<div class="container">
  <div class="row">
    {{#each pets as |pet|}}
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a href="/pet/{{pet.id}}">
            <img class="card-img-top" src="{{pet.photo_url}}" />
          </a>
          <p class="card-text">{{pet.pet_name}}</p>
          <p class="card-text">{{pet.breed}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
