{{#each pets as |pet|}}
  <div class ="body col-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <div>

        <a href="/pet/{{pet.id}}"><img
            class="card-img-top"
            src="{{pet.photo_url}}"
          /></a>

        <h2>{{pet.pet_name}}</h2>
        <h2>{{pet.breed}}</h2>
      </div>
    </div>

  </div>
  </div>
{{/each}}