{{#if loggedIn}}
<div class="column">

  <form class="form search-form">

    <input placeholder="search pets" id="search">
    <button class="btn btn-primary" type="submit" id="searchbtn">search</button>

  </form>

  <div class="container">
    {{#each pets as |pet| }}
    <div class="card">
      <div class="card-container">
        <h2>{{pet.pet_name}}</h2>
        <p id="paragraph">{{pet.breed}}</p>
        <a href="/pet/{{pet.id}}"> <img src="{{ pet.photo_url}}" id="photo" /> </a>
      </div>
    </div>
    {{/each}}
  </div>

</div>
{{/if}}



<script src="/js/search.js"></script>