{{#each pets as |pet| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{pet.pet_name}}</h2>
    <h2>{{pet.breed}}</h2>

  </div>
  <div class="col-md-6">
    
    <a href="/pet/{{pet.id}}"><img src="{{ pet.photo_url}}" /></a>
  </div>
</div>
{{/each}}
