<div class='favorites-row'>
 

  <div style="display: flex; flex-wrap: wrap; justify-content: center;">

    {{#each searchedpets as |pet|}}
      <div class="card" style="width: 21rem; margin-bottom: 20px;">
        <div class="card-body">
          <p>{{pet_name}}</p>
           <a href="/pet/{{pet.id}}">
            <img class="card-img-top" src="{{pet.photo_url}}" />
          </a>
        </div>
      </div>
    {{/each}}

  </div>
</div>

<script src="/js/search.js"></script>