<div class="signup-card">
  <h2>Signup</h2>
  <h2 class="page-title">Signup</h2>
  <form class="form signup-form">
    <label for="name-signup">Username:</label>
    <input class="form-input" type="text" id="username-signup" />
    <label for="email-signup">Email:</label>
    <input class="form-input" type="text" id="email-signup" />
    <label for="password-signup">Password:</label>
    <input class="form-input" type="password" id="password-signup" />
    <button class="btn btn-primary" type="submit" id="btn">signup</button>
  </form>
</div>
</div>

<script src="/js/signup.js"></script>